@model PsNetwork.Domain.TimeLinePost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeLinePost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostStr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeLinePostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
