@model IEnumerable<Tetas.Domain.Entities.GroupMember>

@{
    ViewData["Title"] = "Default";
}

<h1>Group Members</h1>

@if (ViewBag.Level == 0 ||  !ViewBag.IsMember  || ViewBag.IsBanned )
{
    <div> You are not authorize to see this content</div>
}
else
{

    if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th> Name</th>
                    <th>
                        Application Date
                    </th>
                    
                    <th>
                        Reazon
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-route-id="@item.User.Email" asp-controller="Account" 
                               asp-action="Profile"> @item.User.FullName </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationDate)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @if (!item.Banned)
                            {
                                if ((int)item.MemberType != 2)
                                {
                                    if ((ViewBag.Level == 2 || ViewBag.Level == 3) && !item.State && item.Applied)
                                    {
                                        <a class="btn btn-success" asp-controller="Groups" asp-action="Aprove" asp-route-id="@item.Id">Aprove Application</a>
                                        <a class="btn btn-danger" asp-controller="Groups" asp-action="Reject" asp-route-id="@item.Id">Reject Application</a>
                                    }
                                    else if ((ViewBag.Level == 2 || ViewBag.Level == 3) && item.State)
                                    {
                                        <a class="btn btn-danger" asp-controller="Groups" asp-action="Reject" asp-route-id="@item.Id">Take Out from the Group</a>
                                        <a class="btn btn-danger" asp-controller="Groups" asp-action="Ban" asp-route-id="@item.Id">Take Out And Bann from the Group</a>
                                    }
                                }
                            }
                            else
                            {
                                <a class="btn btn-warning" asp-controller="Groups" asp-action="RemoveBan" asp-route-id="@item.Id">DisBann This User</a>

                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}