@model IEnumerable<Tetas.Common.ViewModels.GroupModel>


<div>
    <p>
        <a asp-action="Create" asp-controller="Groups" class="btn btn-primary">Create New Group</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Group Type
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Members
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>
                        <td>
                            <a asp-action="Details"
                               asp-controller="Groups"
                               asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            @if (!item.IsAdmin)
                            {
                                @if (!item.Banned)
                                {
                                    @if (item.State ==false && item.Applied ==false)
                                    {
                                        <a class="btn btn-success" asp-action="Join" asp-controller="Groups" asp-route-id="@item.Id">
                                            Send Request to Join
                                        </a>
                                    }
                                    else if (item.Applied==true && item.State==false )
                                    {
                                        <a class="btn btn-danger" asp-action="Leave" asp-controller="Groups" asp-route-id="@item.Id">
                                            Cancel the Request
                                        </a>
                                    }
                                    else if( (item.Applied==true && item.State==true ))
                                    {
                                        <a class="btn btn-danger" asp-action="Leave" asp-controller="Groups" asp-route-id="@item.Id">
                                            Leave the Group
                                        </a>
                                    }
                                }
                            }
                            else
        {
                        <div>You are the Admin</div>   
            @*<a class="btn btn-danger" asp-action="Leave" asp-controller="Groups" asp-route-id="@item.Id">
                Manage
            </a>*@
        } 
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
