@model Tetas.Domain.Entities.Post

@{
    ViewData["Title"] = "Post Details";
}

<hr />
  
<div>
    @if (Model.Owner.Email != User.Identity.Name) { 
        <span style="font-size: large">
            @Html.DisplayFor(model => model.Owner.FullName)
        </span>}
    post on <span style="font-size: small"> @Html.DisplayFor(model => model.Date)</span>
    <br /> <br />
    <h6>
        @*Post Title:*@
        <b> @Html.DisplayFor(model => model.Name) </b>
    </h6>
    <pre style="color: black">  @Html.Raw(Model.Body) </pre>


    @*<a asp-action="React" asp-controller="Posts" asp-route-id="@Model.Id">
        <i class="fas fa-bolt"></i>
        React!
    </a>*@
    <a asp-action="Comment" asp-controller="Posts" asp-route-id="@Model.Id">
        <i class="far fa-comment"></i>
        Comment It!
    </a>

    @if (Model.Owner.Email == User.Identity.Name)
    {
        <a asp-action="Edit" asp-controller="Posts" asp-route-id="@Model.Id">
            <i class="far fa-edit"></i>
            Edit It!
        </a>
        <a asp-action="Delete" asp-controller="Posts" asp-route-id="@Model.Id">
            <i class="fas fa-slash"></i>
            Delete It!
        </a>
    }

    <br /> <br />
    @if (Model.PostComments.Any())
    {

        foreach (var item2 in Model.PostComments)
        {
            <div style="padding-left: 20px" class="rcorners2">

                <span style="font-size: large"> @Html.DisplayFor(modelItem => item2.Owner.Name)</span>
                comment on <span style="font-size: small"> @Html.DisplayFor(modelItem => item2.Date)</span>
                <div>
                    <p style="color: black">  @*Comment Title:*@ @Html.Raw(item2.Name) </p>

                </div>
                <div class="rcorners1">
                    <p> @Html.Raw(item2.Body) </p>

                </div>
                @if (item2.Owner.Email == User.Identity.Name)
                {
                    <a asp-action="EditComment" asp-controller="Posts" asp-route-id="@item2.Id">
                        <i class="far fa-comment-dots"></i>
                        Edit this comment
                    </a>
                }
                @if (item2.Owner.Email == User.Identity.Name || Model.Owner.Email == User.Identity.Name)
                {
                    <a asp-action="DeleteComment" asp-controller="Posts" asp-route-id="@item2.Id">
                        <i class="fas fa-comment-slash"></i>
                        Delete this comment
                    </a>
                }

            </div>

        }
    }

    <hr />
</div>
